*
*/
!.gitignore
!compose.yaml
!app-data
app-data/*
!scripts
scripts/*
!scripts/backup.sh
!scripts/crontab.template
!app-data/traefik
app-data/traefik/*
!app-data/traefik/rules
!app-data/traefik/rules/*
!README.md
!.env.template
!app-data/rallly
app-data/rallly/*
!app-data/rallly/config.env.template
!stacks
!stacks/*
