0 3 * * * rclone sync /media/storage/music/ Dropbox:Music --log-level=NOTICE --log-file=<DOCKER_DIR>/logs/music.log 
0 3 * * * rclone sync Dropbox:Books /media/storage/books/ --log-level=NOTICE --log-file=<DOCKER_DIR>/logs/books.log

0 3 * * * curl "http://dynamicdns.park-your-domain.com/update?host=@&domain=<DOMAIN>&password=<PASSWORD>" > <DOCKER_DIR>/logs/dynamicdns.log 2>&1 

0 4 * * 1 cd <DOCKER_DIR> && ./scripts/backup.sh 
0 4 * * 2 python3 <SNAPRAID_RUNNER_DIR>/snapraid-runner.py -c <SNAPRAID_RUNNER_DIR>/snapraid-runner.conf 
